@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .name {
    @apply font-bold text-ellipsis overflow-hidden whitespace-nowrap
  }

  .username {
    @apply font-normal text-gray text-ellipsis overflow-hidden whitespace-nowrap
  }

  .hovershadow {
    @apply flex w-[34px] h-[34px] justify-center items-center rounded-full hover:cursor-pointer transition-all
  }

  .tweetContainer {
    @apply flex w-full px-4 pt-3 border border-black/10 border-x-0 border-t-0 hover:cursor-pointer
  }
}

.noSelect {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.noSelect:focus {
  outline: none !important;
}